.title {
  text-align: center;
  display: grid;
  margin-top: 10px;
  border-radius: 10px;
  background-color: darkgrey;
}

.nav-link {
  margin-left: 20px;
}

.navbar {
  margin-top: 10px;
}

.card {
  display: grid;
  /* font-size: 14px; */
  border: 1px solid #e3e3e3;
  border-radius: 9px;
  margin-bottom: 20px;
  background-color:rgba(255, 255, 255, 0.50);
  padding: 20px;
  box-shadow: 0 2px 4px 0rgba(0,0,0,.08);
  width: auto;
  max-width: 600px;
}

.container-1 {

  /* PROVISÓRIO */
  border: solid 1spx blue;
  
  display: grid;
  width: 250px;
}

.card-img {
  /* align-items: center; */
  display: grid;
  width: auto;
  padding: 10px;
  border-radius: 50% ;
}

.container-2 {

  /* PROVISÓRIO */
  /* border: solid 1px green; */
  /* background-color: lawngreen; */
  
  text-align: center;
}

.cliente-endereco-itens {
  display: grid;
  /* border: solid 1px red; */
  padding: 5px;
  margin: 5px;
}

hr {
  background-color: orange;
  width: auto;
  /* margin: 10px 0px 0px 0px; */
}

.container-3 {

  /* PROVISÓRIO */
  /* border: solid 1px green; */
  /* background-color: lawngreen; */

  text-align: left;
  grid-template-columns: 1fr 1fr;
}

.enderecos-title {
  text-align: center;
}

.container-4 {

  /* PROVISÓRIO */
  /* border: solid 1px green; */
  /* background-color: lawngreen; */

  text-align: center;
}

.container-5 {
 
 /* PROVISÓRIO */
 /* border: solid 1px green; */
 /* background-color: lawngreen; */

 text-align: center;
}

.container-6 {
 
  /* PROVISÓRIO */
  /* border: solid 1px green; */
  /* background-color: lawngreen; */
 
  text-align: center;
} 

.create-forms {
    
  /* PROVISÓRIO */
  /* background-color: lawngreen; */
  /* display: grid; */
  /* border: solid 2px blue; */

  display: flexbox;
  flex-direction: column;
  /* align-items: center; */
  width: auto;
  height: auto;
}

.nome-cpf-form {

  /* PROVISÓRIO */
  /* background-color: lawngreen; */
  /* display: grid; */
  /* border: solid 2px green; */

  display: flexbox;
  flex-direction: column;
  /* align-items: center; */
  /* height: 100px; */
  /* padding: 20px; */
  /* height: auto; */
}

.endereco-form {

  /* PROVISÓRIO */
  /* display: grid; */
  /* background-color: green; */
  /* border: solid 2px green; */

  margin-top: 30px;

  display: flex;
  /* padding: 10px; */
  height: auto;
  width: auto;
}

.telefone-form {
  /* PROVISÓRIO */
  /* display: grid; */
  /* background-color: green; */
  /* border: solid 2px green; */

  height: auto;
}

.email-form {
  /* PROVISÓRIO */
  /* display: grid; */
  /* background-color: green; */
  /* border: solid 2px green; */

  height: auto;

}

.btn-add-endereco {
  /* padding: 10px; */
  /* margin-top: 10px; */
}

.form-item {
  /* PROVISÓRIO */
  /* background-color: red; */

  /* padding: 10px; */

}

.form-label {
  padding: 10px;
}